* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E7E8D1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A7BEAE;
  padding: 40px 80px;
}

.header .logo {
  font-size: 32px;
  font-weight: 700;
  color: #B85042;
}
button {
  background-color: #B85042;
  color: #E7E8D1;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  transition: background-color 0.2s linear;
}

button:hover {
  background-color: #b66156;
}

.main {
  flex-grow: 1;
}

.container {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.book-card {
  background-color: #A7BEAE;
  border-radius: 7px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}

.title {
  color:#B85042;
  font-weight: 700;
  font-size: 26px;
}

.author {
  padding-left: 20px;
  font-size: 19px;
  color: #E7E8D1;
}

.pages, .read {
  color: #B85042;
  font-size: 21px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer {
  background-color: #A7BEAE;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 20px;
  height: auto;
}

.copyright {
  color: #B85042;
  font-size: 20px;
  font-weight: 700;
}

dialog {
  background-color: #A7BEAE;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 7px #92645e;
  padding: 40px 80px 80px 80px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog h3 {
  color: #B85042;
  margin: 30px;
  text-align: center;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  width: 300px;
}

input:focus {
  border: 3px solid #E7E8D1;
}